<div class="wrapper">
    <div class="container">
        <h4 *ngIf="title != ''" class="title">{{title}}</h4>
        <div class="list-products">
            <div *ngFor="let item of products" class="list-products--item">
                <div class="wrapper-product">
                    <div class="sticker">
                        <img src={{item.sticker}} alt>
                    </div>
                    <div class="avatar">
                        <img src={{item.image}}
                            alt>
                    </div>
                    <a href="/" class="name">{{item.name}}</a>
                    <p class="price">{{item.priceNew | number }} ₫ <span>{{item.priceOld
                            | number}}
                            ₫</span></p>
                    <div class="note">
                        <p *ngIf="item.promote.length > 0"><span>KM</span>{{item.promote[0].slice(" ",40)}}
                            ...<strong>
                                và {{item.promote.length}} km khác</strong></p>
                    </div>
                </div>

                <div class="promote" *ngIf="item.promote.length > 0">
                    <a href>
                        <ul>
                            <li *ngFor="let promoteItem of item.promote"><p
                                    class="note"><span>KM</span> {{promoteItem}}</p></li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
