.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 24px;
}

.box-filter {
    padding: 0 24px;
    background-color: #fff;
    box-shadow: 2px 2px 2px #ccc;
    min-height: 48px;
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    font-size: 13px;
}

.title {
    color: #00917a;
}

.box-filter a {
    text-decoration: none;
    color: #00483d;
    padding-left: 16px;
}