body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background: #eeecec;
    height: auto;
}

nav {
    overflow: hidden;
    font-size: 25px;
}

.nav-ul-detailProduct {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-ul-detailProduct li {
    float: left;
    display: flex;
    justify-content: center;
}

.nav-ul-detailProduct li p {
    margin-top: 14px;
}

.nav-detailProduct {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.iphone14 {
    color: #009981;
}

.nav-detailProduct:hover {
    color: #009981;
    cursor: pointer;
}

.name-detailProduct h1 {
    margin: 20px 0 10px 0;
    flex-basis: auto;
    flex-grow: 3;
    display: flex;

    display: block;
    font-size: 1.5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-left: 20px;
}

.detailProduct {
    display: flex;
    width: 1000px;
    margin: 20px auto;
}

.big-img {
    width: 250px;
}

.big-img img {
    width: inherit;
}

.images {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 6px;
    border-radius: 8px;
    padding: 3px;

}

.small-img {
    width: 63px;
    height: 63px;
    border: #eee 1px solid;


}

.detaiProduct--left {
    width: 40%;
}

.detailProduct--right {
    margin-left: 20px;
}

.small-img img {
    width: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
}

.small-img:hover img {
    transform: scale(1.2);
}

.productDetail--price strong {
    font-size: 25px;
    color: #fd475a;
}

.old-price {
    text-decoration: line-through;
    font-size: 15px;
    margin-left: 5px;
    font-style: italic;
}

.productDetail--price p {
    font-size: 15px;
    margin-left: 5px;
    font-style: italic;
}

.productDetail--freeship {
    background: #00483d 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    margin: 0 0 5px 0;
    height: 33px;
}

.productDetail--btn--buy {
    display: flex;
}

.productDetail--freeship span {
    display: block;
    text-transform: uppercase;
}

.btn-red--buy {
    width: 39%;
    background: transparent linear-gradient(180deg, #fd475a 0%, #bf1e2d 100%) 0% 0% no-repeat padding-box;
}

.productDetail--btn--title {
    text-transform: uppercase;
}

.btn-green--buy {
    width: 39%;
    background: transparent linear-gradient(180deg, #00917a 0%, #00483d 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0 4px 6px #00000029;
    border-radius: 3px;
    margin-right: 6px;
    display: block;
    text-align: center;
    color: #fff;
    flex-grow: 2;
    font-size: 11px;
    height: 60px;
    padding: top 5px;
}

.btn--buy {
    box-shadow: 0 4px 6px #00000029;
    border-radius: 3px;
    margin-right: 6px;
    display: block;
    text-align: center;
    color: #fff;
    flex-grow: 2;
    font-size: 11px;
    height: 60px;
    padding: top 5px;
}

.btn-yellow--buy {
    width: 22%;
    background: transparent linear-gradient(180deg, #ff990e 0%, #ff6801 100%) 0% 0% no-repeat padding-box;
    box-shadow: 4px 4px 6px #00000029;
    border-radius: 3px;
    margin-right: 6px;
    display: block;
    text-align: center;
    color: #fff;
    flex-grow: 2;
    font-size: 11px;
    height: 60px;
    padding: top 5px;
}

.detailProduct--endow {
    font-size: 13px;
    padding: 8px;
    border-radius: 6px;
    background: #fff;
    margin-top: 15px;
    box-shadow: 0 4px 6px #00000029;
}

.detailProduct--parameter {
    display: flex;
    width: 1000px;
    margin: 20px auto;
}

.detailProduct--parameter--left {
    width: 66%;
    font-size: 13px;
    box-shadow: 4px 4px 4px 4px #00000029;
    padding: 15px;
    border-radius: 10px;
}

.detailProduct--parameter--left strong {
    font-weight: bold;
    text-align: center;
}

.detailProduct--parameter--right {
    width: 33%;
    font-size: 14px;
    box-shadow: 4px 4px 4px 4px #00000029;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
}

.parammeter--right--img {
    width: 100%;
    border-radius: 14px;
}

.detail--parameter {
    text-align: center;
    align-items: center;
    background: #fdfdfe 0% 0% no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    padding: 5px 30px;
    font-size: 15px;
}

.detail--parameter a {
    color: #191919;
    text-decoration: none;
}

.diachi {
    width: 100%;
    padding-top: 15px;
}

.detailProduct--SameProduct {
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 14px;
    padding: 20px 30px;
    margin: 30px 0;
    text-align: center;
}