
<body>
    <nav>
        <ul class="nav-ul-detailProduct">
            <li><a class="nav-detailProduct" href="">Trang chủ </a>
                <p>></p>
            </li>
            <li><a class="nav-detailProduct" href="">Điện Thoại </a>
                <p>></p>
            </li>
            <li><a class="nav-detailProduct" href="">Apple </a>
                <p>></p>
            </li>
            <li><a class="nav-detailProduct" href="">IPhone 14 series </a>
                <p>></p>
            </li>
            <li><a class="nav-detailProduct iphone14" href="">IPhone 14 chính hãng</a></li>
        </ul>
    </nav>
    <div class="name-detailProduct">
        <h1>Điện thoại di động iPhone 14 (128GB) - Chính hãng VN/A</h1>
    </div>
    <section class="detailProduct">
        <div class="detailProduct--left">
            <div class="big-img">
                <img src="../images/sp1.webp">
            </div>
            <div class="images">
                <div class="small-img">
                    <img src="../images/sp2.webp" onclick="showImg(this.src)">
                </div>
                <div class="small-img">
                    <img src="../images/sp3.webp" onclick="showImg(this.src)">
                </div>
                <div class="small-img">
                    <img src="../images/sp4.webp" onclick="showImg(this.src)">
                </div>
                <div class="small-img">
                    <img src="../images/sp1.webp" onclick="showImg(this.src)">
                </div>
            </div>
        </div>

        <div class="detailProduct--right">
            <div class="productDetail--price">
                <strong>10,190,000 đ</strong>
                <i class="old-price">19,990,000 ₫</i>
                <i>| Giá đã bao gồm 10% VAT</i>
            </div>
            <div class="productDetail--freeship">
                <p>MIỄN PHÍ VẬN CHUYỂN TOÀN QUỐC</p>
            </div>
            <div class="productDetail--btn--buy">
                <div class="btn-red--buy  btn--buy">
                    <strong class="productDetail--btn--title">Mua ngay</strong><br>
                    <span>Giao hàng tận nhà(COD)</span><br>
                    <span>Hoặc nhận tại cửa hàng</span>
                </div>
                <div class="btn-green--buy  btn-buy">
                    <strong class="productDetail--btn--title">Trả góp</strong><br>
                    <span>Công ty Tài chính</span><br>
                    <span>Hoặc 0% qua thẻ tín dụng</span>
                </div>
                <div class="btn-yellow--buy btn-buy">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-cart3" viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg><br>
                    <span>Thêm vào giỏ hàng</span>

                </div>
            </div>
            <div class="detailProduct--endow">
                <strong>Ưu đãi thanh toán</strong><br>
                <svg xmlns="http://www.w3.org/2000/svg" style="color: #009981;" width="16" height="16"
                    fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                <span>Ưu đãi đến 300.000đ khi mở Ví hoặc thanh toán qua VNPAY</span><br>
                <svg xmlns="http://www.w3.org/2000/svg" style="color: #009981;" width="16" height="16"
                    fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                <span>Trả góp qua Homepaylater giảm thêm tới 500.000đ, duyệt nhanh chỉ 30s</span>
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" style="color: #009981;" width="16" height="16"
                    fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                <span>Giảm 100.000đ cho đơn hàng giá trị từ 8.000.000đ trở lên khi thanh toán qua ZaloPay.</span>
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" style="color: #009981;" width="16" height="16"
                    fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                <span>Thanh toán qua Moca tặng ngay đế sạc trị giá 320.000đ (Cho hóa đơn có tổng giá trị từ 6 Triệu) -
                    Số lượng có hạn</span>
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" style="color: #009981;" width="16" height="16"
                    fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                <span>Giảm thêm tới 800.000đ khi mở thẻ tín dụng TPBank EVO - Duyệt nhanh chỉ 15 phút, LH Cửa hàng hoặc
                    19002091 để được hỗ
                    trợ</span>
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" style="color: #009981;" width="16" height="16"
                    fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                <span>Hỗ trợ trả góp 0% qua 26 ngân hàng và công ty tài chính.</span>
                <br><br>
                <strong>Ưu đãi đi kèm</strong><br>
                <svg xmlns="http://www.w3.org/2000/svg" style="color: #009981;" width="16" height="16"
                    fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                <span>Giảm thêm tới 1.000.000đ khi Thu cũ - Lên đời iPhone 11 | 12 | 13 Series</span>
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" style="color: #009981;" width="16" height="16"
                    fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                <span>Tặng SIM Wintel hoặc SIM MobiFone Hera dung lượng lên tới 6GB/ngày</span>
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" style="color: #009981;" width="16" height="16"
                    fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                <span>Tặng esim data Mobifone Hera 5G (2GB/ngày) (Chưa bao gồm tháng đầu tiên) - Lưu ý: chỉ áp dụng mua
                    trực tiếp tại cửa hàng</span>
                <br><svg xmlns="http://www.w3.org/2000/svg" style="color: #009981;" width="16" height="16"
                    fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                <span>Giảm thêm 200.000đ cho tất các sản phẩm màn hình khi mua kèm laptop, MacBook, máy tính bảng và
                    điện thoại.</span>
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" style="color: #009981;" width="16" height="16"
                    fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                <span>Tiết kiệm lên tới 600.000đ khi mua Microsoft 365 (Office) kèm Laptop, MacBook, Máy tính bảng, Điện
                    thoại (Áp dụng từ
                    10/4/2023 - 31/5/2023).</span>
                <br>
            </div>
        </div>
    </section>
    <section class="detailProduct--parameter">
        <div class="detailProduct--parameter--left">
            <span>Tất cả iPhone chính hãng VN/A được phân phối tại Hoàng Hà Mobile đều được nhập trực tiếp từ Công ty
                TNHH Apple Việt Nam.
                HoangHa Mobile là nhà bán lẻ ủy quyền chính thức của Apple tại Việt Nam.</span><br><br>
            <img class="diachi" src="../images/diachi.webp" alt="">
            <strong>Mua điện thoại iPhone 11 chính hãng, giá rẻ tại Hoàng Hà Mobile</strong><br><br>
            <span>iPhone 11 - siêu phẩm được mong chờ nhất năm 2019 của Apple chuẩn bị ra mắt. Với những cải tiến vượt
                trội, phiên bản
                iPhone mới nhất hứa hẹn sẽ làm bùng nổ thị trường công nghệ.</span><br><br>
            <strong>Thiết kế cực kỳ ấn tượng với màn hình có độ phân giải cao</strong>
            <img class="diachi" src="../images/morePhone.webp" alt="">
        </div>
        <div class="detailProduct--parameter--right">
            <strong>Thông số kỹ thuật iPhone 11 (64GB) - Chính hãng VN/A</strong>
            <img class="parammeter--right--img" src="../images/sp1.webp" alt="">
            <div class="detail--parameter">
                <a href=""> <strong>Cấu hình chi tiết</strong> </a>
            </div>
            <br>
            <strong>Công nghệ màn hình ::</strong><span>IPS LCD</span><br><br>
            <strong>Độ phân giải::</strong><span>828 x 1792 Pixels</span><br><br>
            <strong>Màn hình rộng::</strong><span>6.1"</span><br><br>
            <strong>Độ phân giải:</strong><span>2 camera 12 MP, 12 MP</span><br><br>
            <strong>Hệ điều hành::</strong><span>iOS 15</span><br><br>
            <strong>Chip xử lý (CPU):</strong><span>Apple A13 Bionic 6 nhân</span><br><br>
        </div>
    </section>
    <section>
        <div class="detaiProduct--SameProduct">
            <h3>Sản phẩm tương tự</h3>
        </div>

    </section>
    <script src="../node_modules/bootstrap/js/dist/bootstrap.min.js"></script>
    <script>
        let bigImg = document.querySelector('.big-img img');
        function showImg(pic) {
            bigImg.src = pic;
        }
    </script>
</body>