<div class="wrapper">
    <div class="top-navigate">
        <ul>
            <li><a href>Bản mobile</a></li>
            <li><a href>Giới thiệu</a></li>
            <li><a href>Sản phẩm đã xem</a></li>
            <li><a href>Trung tâm bảo hành</a></li>
            <li><a href>Hệ thống 126 siêu thị</a></li>
            <li><a href>Tuyển dụng</a></li>
            <li><a href>Tra cứu đơn hàng</a></li>
            <li><a routerLink="signin">Đăng nhập</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="logo">
            <a routerLink="/"> <img src="../../../assets/images/logo-text.png"
                    alt></a>
        </div>
        <form action class="form-search">
            <input placeholder="Hôm nay bạn cần gì?" type="text">
            <button><fa-icon [icon]="faSearch"></fa-icon></button>
        </form>
        <div class="order-tool">
            <div class="check-order">
                <span>
                    <fa-icon [icon]="faTruckFast"></fa-icon>
                </span>
                <h4>Kiểm tra đơn hàng</h4>
            </div>
            <div class="total-order">
                <span>
                    <fa-icon [icon]="faCartShopping"></fa-icon>
                </span>
                <h4>0</h4>
            </div>
        </div>
    </div>
</div>
