<div class="wrapper">
    <ul class="container">
        <li (click)="navigateTo('/ad')">
            <span class="icon">
                <fa-icon [icon]="faPhone"></fa-icon>
            </span>
            <h6>Điện thoại 1</h6>
        </li>
        <li>
            <span class="icon">
                <fa-icon [icon]="faPhone"></fa-icon>
            </span>
            <h6>Điện thoại</h6>
        </li>
        <li>
            <span class="icon">
                <fa-icon [icon]="faLaptopHouse"></fa-icon>
            </span>
            <h6>Điện thoại</h6>
        </li>
        <li>
            <span class="icon">
                <fa-icon [icon]="faPhone"></fa-icon>
            </span>
            <h6>Điện thoại</h6>
        </li>
        <li>
            <span class="icon">
                <fa-icon [icon]="faPhone"></fa-icon>
            </span>
            <h6>Điện thoại</h6>
        </li>
        <li>
            <span class="icon">
                <fa-icon [icon]="faPhone"></fa-icon>
            </span>
            <h6>Điện thoại</h6>
        </li>
        <li>
            <span class="icon">
                <fa-icon [icon]="faPhone"></fa-icon>
            </span>
            <h6>Điện thoại</h6>
        </li>
        <li>
            <span class="icon">
                <fa-icon [icon]="faPhone"></fa-icon>
            </span>
            <h6>Điện thoại</h6>
        </li>
    </ul>
</div>