<app-top-navigate></app-top-navigate>
<div class="wrapper">
    <div class="back">
        <a routerLink="/"><span><fa-icon [icon]="faChevronLeft"></fa-icon></span>
            Quay lại</a>
    </div>
    <div class="cart-layout">
        <div class="cart-info">
            <div class="cart-icon">
                <fa-icon [icon]="faCircleCheck"></fa-icon>
                <span>Giỏ hàng</span>
            </div>
            <!-- <div class="no-cart">
        <img src="../../../assets/images/no-item.png" alt>
        <h4>Hiện chưa có sản phẩm nào trong giỏ hàng</h4>
    </div> -->
            <div class="cart-items">
                <div class="item">
                    <div class="item-img">
                        <img
                            src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/02/01/1111.png"
                            alt>
                        <h4>iPhone 14 Pro Max (256GB) - Chính hãng VN/A</h4>
                        <h6>29,390,000 ₫</h6>
                        <span>số lượng</span>
                        <input value="3" min="0" type="number">
                    </div>

                    <ul class="item-info">
                        <li><span>KM1</span><p>Hỗ trợ trả góp 0% qua 26 ngân
                                hàng
                                và công ty tài chính.</p></li>
                        <li><span>KM2</span><p>Giảm thêm 200.000đ cho tất các
                                sản phẩm màn hình khi mua kèm laptop, MacBook,
                                máy tính bảng và điện thoại.</p></li>
                        <li><span>KM3</span><p>Thu cũ đổi mới giảm tới
                                1.000.000đ</p></li>
                        <li><span>KM4</span><p>Tặng esim data Mobifone Hera 5G
                                (2GB/ngày) (Chưa bao gồm tháng đầu tiên) - Lưu
                                ý: chỉ áp dụng mua trực tiếp tại cửa hàng.</p></li>
                    </ul>

                </div>
                <div class="item">
                    <div class="item-img">
                        <img
                            src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/02/01/1111.png"
                            alt>
                        <h4>iPhone 14 Pro Max (256GB) - Chính hãng VN/A</h4>
                        <h6>29,390,000 ₫</h6>
                        <span>số lượng</span>
                        <input value="3" min="0" type="number">
                    </div>

                    <ul class="item-info">
                        <li><span>KM1</span><p>Hỗ trợ trả góp 0% qua 26 ngân
                                hàng
                                và công ty tài chính.</p></li>
                        <li><span>KM2</span><p>Giảm thêm 200.000đ cho tất các
                                sản phẩm màn hình khi mua kèm laptop, MacBook,
                                máy tính bảng và điện thoại.</p></li>
                        <li><span>KM3</span><p>Thu cũ đổi mới giảm tới
                                1.000.000đ</p></li>
                        <li><span>KM4</span><p>Tặng esim data Mobifone Hera 5G
                                (2GB/ngày) (Chưa bao gồm tháng đầu tiên) - Lưu
                                ý: chỉ áp dụng mua trực tiếp tại cửa hàng.</p></li>
                    </ul>

                </div>
                <div class="item">
                    <div class="item-img">
                        <img
                            src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/02/01/1111.png"
                            alt>
                        <h4>iPhone 14 Pro Max (256GB) - Chính hãng VN/A</h4>
                        <h6>29,390,000 ₫</h6>
                        <span>số lượng</span>
                        <input value="3" min="0" type="number">
                    </div>

                    <ul class="item-info">
                        <li><span>KM1</span><p>Hỗ trợ trả góp 0% qua 26 ngân
                                hàng
                                và công ty tài chính.</p></li>
                        <li><span>KM2</span><p>Giảm thêm 200.000đ cho tất các
                                sản phẩm màn hình khi mua kèm laptop, MacBook,
                                máy tính bảng và điện thoại.</p></li>
                        <li><span>KM3</span><p>Thu cũ đổi mới giảm tới
                                1.000.000đ</p></li>
                        <li><span>KM4</span><p>Tặng esim data Mobifone Hera 5G
                                (2GB/ngày) (Chưa bao gồm tháng đầu tiên) - Lưu
                                ý: chỉ áp dụng mua trực tiếp tại cửa hàng.</p></li>
                    </ul>

                </div>
                <div class="item">
                    <div class="item-img">
                        <img
                            src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/02/01/1111.png"
                            alt>
                        <h4>iPhone 14 Pro Max (256GB) - Chính hãng VN/A</h4>
                        <h6>29,390,000 ₫</h6>
                        <span>số lượng</span>
                        <input value="3" min="0" type="number">
                    </div>

                    <ul class="item-info">
                        <li><span>KM1</span><p>Hỗ trợ trả góp 0% qua 26 ngân
                                hàng
                                và công ty tài chính.</p></li>
                        <li><span>KM2</span><p>Giảm thêm 200.000đ cho tất các
                                sản phẩm màn hình khi mua kèm laptop, MacBook,
                                máy tính bảng và điện thoại.</p></li>
                        <li><span>KM3</span><p>Thu cũ đổi mới giảm tới
                                1.000.000đ</p></li>
                        <li><span>KM4</span><p>Tặng esim data Mobifone Hera 5G
                                (2GB/ngày) (Chưa bao gồm tháng đầu tiên) - Lưu
                                ý: chỉ áp dụng mua trực tiếp tại cửa hàng.</p></li>
                    </ul>

                </div>
                <div class="item">
                    <div class="item-img">
                        <img
                            src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/02/01/1111.png"
                            alt>
                        <h4>iPhone 14 Pro Max (256GB) - Chính hãng VN/A</h4>
                        <h6>29,390,000 ₫</h6>
                        <span>số lượng</span>
                        <input value="3" min="0" type="number">
                    </div>

                    <ul class="item-info">
                        <li><span>KM1</span><p>Hỗ trợ trả góp 0% qua 26 ngân
                                hàng
                                và công ty tài chính.</p></li>
                        <li><span>KM2</span><p>Giảm thêm 200.000đ cho tất các
                                sản phẩm màn hình khi mua kèm laptop, MacBook,
                                máy tính bảng và điện thoại.</p></li>
                        <li><span>KM3</span><p>Thu cũ đổi mới giảm tới
                                1.000.000đ</p></li>
                        <li><span>KM4</span><p>Tặng esim data Mobifone Hera 5G
                                (2GB/ngày) (Chưa bao gồm tháng đầu tiên) - Lưu
                                ý: chỉ áp dụng mua trực tiếp tại cửa hàng.</p></li>
                    </ul>

                </div>
            </div>
            <div class="cart-tatol">
                <h2>Tổng giá trị: 146,950,000 ₫</h2>
                <h2>Giảm giá: 146,950,000 ₫</h2>
                <h2>Tổng thanh toán: <span>146,950,000 ₫</span></h2>
            </div>
        </div>
        <div class="cart-form">
            <h2 class="title">Thông tin đặt hàng</h2>
            <p class="warning">Bạn cần nhập đầy đủ các trường thông tin có dấu *
            </p>
            <form action>
                <div class="form-control">
                    <input type="text" placeholder="Họ và tên *">
                </div>
                <div class="form-control">
                    <input type="text" placeholder="Số điện thoại *">
                </div>
                <div class="form-control">
                    <input type="text" placeholder="Email *">
                </div>
                <div class="form-control">
                    <input type="text" placeholder="Địa chỉ nhận hàng *">
                </div>
                <button class="btn">Xác nhận và đặt hàng</button>
            </form>
        </div>
    </div>
</div>
