<div class="wrapper">
    <div class="overlay">
        <div class="auth-form ">
            <div class="signin-bg">
                <img src="../../../assets/images/login-bg.png" alt>
            </div>
            <div class="box-form">
                <h2>Đăng kí tài khoản</h2>
                <form action>
                    <div class="form-group">
                        <label for>Tài khoản:</label>
                        <input placeholder="Tài khoản *" type="text">
                    </div>
                    <div class="form-group">
                        <label for>Họ tên:</label>
                        <input placeholder="Họ tên *" type="text">
                    </div>
                    <div class="form-group">
                        <label for>Mật khẩu</label>
                        <input placeholder="Mật khẩu *" type="text">
                    </div>
                    <div class="form-group">
                        <label for>Nhập lại mật khẩu</label>
                        <input placeholder="Nhập lại mật khẩu *" type="text">
                    </div>
                    <div class="button-group">
                        <button class="btn btn-signin">Đăng ký tài khoản</button>
                        <a routerLink="/signin" class="btn btn-signup">Đăng nhập</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>